{{- include "ffc-helm-library.container-config-map" (list . "ffc-pay-enrichment.config-map") -}}
{{- define "ffc-pay-enrichment.config-map" -}}
data:
  NODE_ENV: {{ quote .Values.environment }}
  APPINSIGHTS_CLOUDROLE: {{ quote .Values.name }}
  MESSAGE_QUEUE_HOST: {{ quote .Values.container.messageQueueHost }}
  PROCESSING_ACTIVE: {{ quote .Values.container.processingActive }}
  {{- if and (.Values.environmentCode) (not .Values.pr) }}
  PAYMENT_TOPIC_ADDRESS: {{ .Values.container.paymentTopicAddress }}-{{ .Values.environmentCode }}
  PROCESSING_TOPIC_ADDRESS: {{ .Values.container.processingTopicAddress }}-{{ .Values.environmentCode }}
  RESPONSE_TOPIC_ADDRESS: {{ .Values.container.responseTopicAddress }}-{{ .Values.environmentCode }}
  EVENTS_TOPIC_ADDRESS: {{ .Values.container.eventsTopicAddress }}-{{ .Values.environmentCode }}
  CUSTOMER_TOPIC_ADDRESS: {{ .Values.container.customerTopicAddress }}-{{ .Values.environmentCode }}
  {{ else }}
  PAYMENT_TOPIC_ADDRESS: {{ quote .Values.container.paymentTopicAddress }}
  PROCESSING_TOPIC_ADDRESS: {{ quote .Values.container.processingTopicAddress }}
  RESPONSE_TOPIC_ADDRESS: {{ quote .Values.container.responseTopicAddress }}
  EVENTS_TOPIC_ADDRESS: {{ quote .Values.container.eventsTopicAddress }}
  CUSTOMER_TOPIC_ADDRESS: {{ quote .Values.container.customerTopicAddress }}
  {{- end }}
  PAYMENT_SUBSCRIPTION_ADDRESS: {{ quote .Values.container.paymentSubscriptionAddress }}
  CUSTOMER_SUBSCRIPTION_ADDRESS: {{ quote .Values.container.customerSubscriptionAddress }}
  POSTGRES_DB: {{ quote .Values.postgresService.postgresDb }}
  POSTGRES_HOST: {{ quote .Values.postgresService.postgresqlHost }}
  POSTGRES_PORT: {{ quote .Values.postgresService.postgresPort }}
  POSTGRES_SCHEMA_NAME: {{ quote .Values.postgresService.postgresSchema }}
{{- end -}}
